h1 {
    font-size: 50px;
  }
  
  h1 {
    font-weight: 200;
}

body {
    color: #000000;
  }
  
  
  a {
    color: green;
    border: 4mm ridge rgba(52, 71, 141, 0.6);

  }


  
  /* add a border around paragraphs and change their font to comic sans */
  p {
    font-family: Comic Sans MS;
    border: 4mm ridge rgba(52, 71, 141, 0.6);
  }
  
  /* give divs a different background color */
  div {
    background-color: rgb(58, 134, 201); /* this is a real named color in CSS! */
  }
  
  /* style elements with the class "reallybig" to have a font size of 100px */
  .reallybig {
    font-size: 50px;
  }
  
  /* style the element with the ID page-title to have a font weight of 700 (bold) */
  #page-title {
    font-weight: 700;
  }